.container {
	background-color: #333333;
}

#to_do_list {
	color: white;
	font-size: 3rem;
	font-family: Unbounded;
	text-align: center;
}

#task {
	width: 600px;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	border-radius: 45px;
	font-size: 20px;
}

#task::placeholder {
	color: #484848;
}
#add_task {
	width: 610px;
	height: 56px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 45px;
	font-size: 20px;
	font-family: Unbounded;
	text-align: center;
	color: #484848;
	background-color: #89FC00;
}
.row {
	margin-left: 530px;
	display: flex;
	gap: 10px;
	font-family: Unbounded;
}
.header_menu {
	display: flex;
	gap: 560px;
}
select {
	width: 200px;
	height: 56px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	border-radius: 45px;
	font-size: 18px;
}

select:required:invalid {
	color: #484848;
}
select option {
	color: black;
}
select option[value=""][disabled] {
	display: none;
}

#date {
	width: 225px;
	height: 56px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	border-radius: 45px;
	font-size: 18px;
}

#type_of_task {
	width: 160px;
}
.site_font_family {
	font-family: Unbounded;
}
.menu_toggle {
	display:flex;
	background-color: #333333;
	width:50px;
	height:50px;
}